---
// Import the JSON file
import comparisonData from '../data/comparisonData.json';
---

<section class="bg-dark-green py-10 us-vs-them">
  <div class="container mx-auto text-center">
    <!-- Title -->
    <h2 class="text-white font-display text-3xl md:text-5xl" set:html={comparisonData.title} />

    <!-- Table -->
    <div class="mt-10">
      <div class="max-w-4xl mx-auto overflow-x-auto">
        <table class="w-full text-white">
          <!-- Table Header -->
          <thead>
            <tr>
              {comparisonData.columns.map((column, index) => (
                <th
                  key={index}
                  class={`p-6 ${index === 0 ? 'text-left' : 'text-center'} text-white`}
                >
                  {column}
                </th>
              ))}
            </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
            {comparisonData.rows.map((row, rowIndex) => (
              <tr key={rowIndex} class={row.class}>
                <td class={`p-6 font-bold ${rowIndex === 0 ? 'rounded-l-full' : ''}`}>
                  {row.label}
                </td>
                {row.cells.map((cell, cellIndex) => (
                  <td
                    key={cellIndex}
                    class={`p-6 text-center ${
                      rowIndex === 0 && cellIndex === row.cells.length - 1 ? 'rounded-r-full' : ''
                    }`}
                  >
                    {cell}
                  </td>
                ))}
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>